body {
	font-size: 1.2em;
	background: url("stream.gif");
	padding: 20px;
	background-position: center;
}

.cc_words {
	-webkit-transition:color 500ms ease;
	-moz-transition:color 500ms ease;
	-o-transition:color 500ms ease;
	transition:color 500ms ease;
	color: MediumPurple;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }
