html, body {
	margin: 0;
	padding: 0;
	background: #1c489d;
	height: 100%;
	width: 100%;
	overflow: auto;
}

main {
	margin: 4%;
}

#confetti {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

#greeting {
	color: #e15924;
	text-align: center;
	margin: 0.7em;

	font-size: 3.5em;
	font-weight: bold;
	font-family: "American Typewriter", Charcoal, sans-serif;
}

#message {
	color: #dee6d7;
	font-family: "Andale Mono", AndaleMono, monospace;
	font-weight: bold;
	font-size: 1.3em;

	opacity: 0;
	--start-time: 2s;
	animation-delay: var(--start-time);
	-webkit-animation-delay: var(--start-time);
	-moz-animation-delay: var(--start-time);
	-o-animation-delay: var(--start-time);
	-ms-animation-delay: var(--start-time);
}

#fun-facts {
	color: #dee6d7;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

	opacity: 0;
	--start-time: 6s;
	animation-delay: var(--start-time);
	-webkit-animation-delay: var(--start-time);
	-moz-animation-delay: var(--start-time);
	-o-animation-delay: var(--start-time);
	-ms-animation-delay: var(--start-time);
}
#fact-list {
	margin: 0;
}
#fact-list>li {
	padding-top: 0.5em;	
}

.fade-in {
  animation: fadeIn linear 2s forwards ;
  -webkit-animation: fadeIn linear 2s forwards;
  -moz-animation: fadeIn linear 2s forwards;
  -o-animation: fadeIn linear 2s forwards;
  -ms-animation: fadeIn linear 2s forwards ;
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-o-keyframes fadeIn {
 	0% {opacity:0;}
	100% {opacity:1;}
}
@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
