/* www.w3schools.com/howto/howto_css_fullscreen_video.asp */

video#squad_vid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

#content {
	position: fixed;
	top: 5%;
	left: 15%;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	padding: 12px;
}

button {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #ddd;
  color: black;
}

#escape, #influence {
	display: none;
}
