html, body {
	margin: 0;
	padding: 0;
	background: #010101;
	height: 100%;
	width: 100%;
	overflow: auto;
}

main {
	margin: 4%;
}

#fireworks {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

#greeting {
	color: #dd6347;
	text-align: center;
	margin: 0.7em;

	font-size: 2.5em;
	font-weight: bold;
	font-family: "American Typewriter", Charcoal, sans-serif;
}

#message {
	color: #4169e1;
	font-family: "Andale Mono", AndaleMono, monospace;
	font-weight: bold;
	font-size: 1.3em;

	opacity: 0;
	animation-delay:         4s;
	-webkit-animation-delay: 4s;
	-moz-animation-delay:    4s;
	-o-animation-delay:      4s;
	-ms-animation-delay:     4s;
}

#fun-facts {
	color: #2e8b57;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

	opacity: 0;
	animation-delay:         8s;
	-webkit-animation-delay: 8s;
	-moz-animation-delay:    8s;
	-o-animation-delay:      8s;
	-ms-animation-delay:     8s;
}
#fact-list {
	margin: 0;
}
#fact-list>li {
	padding-top: 0.5em;
}

.fly-in {
  animation:         flyIn ease 3.5s forwards;
  -webkit-animation: flyIn ease 3.5s forwards;
  -moz-animation:    flyIn ease 3.5s forwards;
  -o-animation:      flyIn ease 3.5s forwards;
  -ms-animation:     flyIn ease 3.5s forwards;
}
@keyframes flyIn {
	0%   {opacity: 0; transform: translateY(200%);}
	100% {opacity: 1; transform: translateY(0%);}
}
@-moz-keyframes flyIn {
	0%   {opacity: 0; transform: translateY(200%);}
	100% {opacity: 1; transform: translateY(0%);}
}
@-webkit-keyframes flyIn {
	0%   {opacity: 0; transform: translateY(200%);}
	100% {opacity: 1; transform: translateY(0%);}
}
@-o-keyframes flyIn {
	0%   {opacity: 0; transform: translateY(200%);}
	100% {opacity: 1; transform: translateY(0%);}
}
@-ms-keyframes flyIn {
	0%   {opacity: 0; transform: translateY(200%);}
	100% {opacity: 1; transform: translateY(0%);}
}
