/* props to https://codepen.io/Evolution/pen/auLlw */

html {
  background: #000;
  overflow: hidden;
}

main {
  display: none;
  margin: 4%;
}

#toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
  -moz-animation-delay: 10s;
  -o-animation-delay: 10s;
  -ms-animation-delay: 10s;
}

#greeting {
  color: #bf5450;
  text-align: center;
  margin: 0.7em;

  font-size: 3.5em;
  font-weight: bold;
  font-family: "American Typewriter", Charcoal, sans-serif;
}

#message {
  color: #dee6d7;
  font-family: "Andale Mono", AndaleMono, monospace;
  font-weight: bold;
  font-size: 1.3em;

  opacity: 0;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  -ms-animation-delay: 2s;
}

.fade-in {
  animation: fadeIn linear 2s forwards ;
  -webkit-animation: fadeIn linear 2s forwards;
  -moz-animation: fadeIn linear 2s forwards;
  -o-animation: fadeIn linear 2s forwards;
  -ms-animation: fadeIn linear 2s forwards ;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#gobutt {
  transform: translate(-50%, -50%);
  position: fixed;
  left: 50%;
  top: 50%;
}

.laser-beam {
  position: absolute;
  z-index: -1;
  left: 50%;
  bottom: 50%;
  width: 3px;
  height: 500%;

  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

.laser-beam.blue {
  -webkit-animation: laser 2s linear infinite;
  background: rgba(99, 195, 231, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px #63c3e7;
  -moz-box-shadow: 0px 0px 15px 0px #63c3e7;
  box-shadow: 0px 0px 15px 0px #63c3e7;
}

.laser-beam.red {
  -webkit-animation: laser 2.5s linear infinite;
  background: rgba(236, 19, 65, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px #ec1341;
  -moz-box-shadow: 0px 0px 15px 0px #ec1341;
  box-shadow: 0px 0px 15px 0px #ec1341;
}
.laser-beam.purple {
  -webkit-animation: laser 2.3s linear infinite;
  background: rgba(204, 102, 255, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px #cc66ff;
  -moz-box-shadow: 0px 0px 15px 0px #cc66ff;
  box-shadow: 0px 0px 15px 0px #cc66ff;
}
.laser-beam.green {
  -webkit-animation: laser 2.7s linear infinite;
  background: rgba(86, 212, 69, 0.6);
  -webkit-box-shadow: 0px 0px 15px 0px #56d445;
  -moz-box-shadow: 0px 0px 15px 0px #56d445;
  box-shadow: 0px 0px 15px 0px #56d445;
}

@-webkit-keyframes laser {
  from { transform: rotate(0); }
  to   { transform: rotate(360deg); }
}
