html, body {
	margin: 0;
	padding: 0;
	background: #7d3780;
	height: 100%;
	width: 100%;
	overflow: auto;
}

main {
	margin: 4%;
}

#confetti {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

#greeting {
	color: #EF617A;
	text-align: center;
	margin: 0.7em;

	font-size: 3.5em;
	font-weight: bold;
	font-family: Impact, Charcoal, sans-serif;
}

#message {
	color: #E9BD43;
	font-family: "Andale Mono", AndaleMono, monospace;
	font-weight: bold;
	font-size: 1.3em;

	opacity: 0;
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	-o-animation-delay: 2s;
	-ms-animation-delay: 2s;
}

#fun-facts {
	color: #E9BD43;
	font-family: "Trebuchet MS", Helvetica, sans-serif;

	opacity: 0;
	animation-delay: 4s;
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	-o-animation-delay: 4s;
	-ms-animation-delay: 4s;
}
#fact-list {
	margin: 0;
}
#fact-list>li {
	padding-top: 0.5em;	
}

.fade-in {
  animation: fadeIn linear 2s forwards ;
  -webkit-animation: fadeIn linear 2s forwards;
  -moz-animation: fadeIn linear 2s forwards;
  -o-animation: fadeIn linear 2s forwards;
  -ms-animation: fadeIn linear 2s forwards ;
}
@keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-moz-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
@-o-keyframes fadeIn {
 	0% {opacity:0;}
	100% {opacity:1;}
}
@-ms-keyframes fadeIn {
	0% {opacity:0;}
	100% {opacity:1;}
}
