/* modified from https://css-tricks.com/perfect-full-page-background-image */

/* add this with the relevant image:
body {
	background: url("img.gif") no-repeat center;
}
*/

html, body {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	overflow:hidden;
}
