body {
	text-align: center;
	background: url("/img/squares.gif");
}

a, h1 {
	mix-blend-mode: difference;
	font-size: 5em;
	color: #6b5d10;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
